<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/login}" method="post" th:object="${customer}">
    <table>
        <tr>
            <td>First Name: </td>
            <td>
                <input th:field="*{firstName}" >
                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
            </td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>
                <input th:field="*{lastName}" >
                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
            </td>
        </tr>
        <tr>
            <td>Age: </td>
            <td>
                <input th:field="*{age}" >
                <label th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></label>
            </td>
        </tr>
        <tr>
            <td>Phone Number: </td>
            <td>
                <input th:field="*{phoneNumber}" >
                <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></label>
            </td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>
                <input th:field="*{email}" >
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="register">
            </td>
        </tr>
    </table>

</form>
</body>
</html>