<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Contract Detail</title>
</head>
<body>
<form th:action="@{/delete-contractDetail}" th:object="${contractDetail}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Number: </td>
            <td><input type="text" th:field="*{number}"></td>
        </tr>
        <tr>
            <td>Amount: </td>
            <td><input type="text" th:field="*{amount}"></td>
        </tr>
        <tr>
            <td>Number Contract: </td>
            <td>
                <select th:field="*{contract}">
                    <option th:each="co: ${contracts} " th:value="${co.id}" th:text="${co.number}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Name AccompanyingService: </td>
            <td>
                <select th:field="*{accompanyingService}">
                    <option th:each="acc: ${accompanyingService} " th:value="${acc.id}" th:text="${acc.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Remove"></td>
        </tr>
    </table>
</body>
</html>