<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Contract Detail</title>
</head>
<body>
<a href="/contractDetail">Create new contract Detail</a><br><br>
<form>
    Search by number:
    <input name="keyword" th:value="${keyword}" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table border="1">
    <tr><th>Number </th>
        <th>Amount</th>
        <th>Number Contract</th>
        <th>Name Accompanying Service</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="con: ${listcontractDetail}">
        <tr>
            <td th:text="${con.number}"></td>
            <td th:text="${con.amount}"></td>
            <td th:text="${con.contract.number}"></td>
            <td th:text="${con.accompanyingService.name}"></td>
            <td><a th:href="@{/edit-contractDetail/__${con.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-contractDetail/__${con.id}__ }">Delete</a></td>

        </tr>
    </th:block>
    <div>
        <a th:href="@{'/list-contractDetail'(page=${listcontractDetail.number - 1},keyword=${keyword})}"
           th:if="${listcontractDetail.hasPrevious()}">Previous</a>
        <span th:text="${listcontractDetail.number + 1}"></span>/<span th:text="${listcontractDetail.totalPages}"></span>
        <a th:href="@{'/list-contractDetail'(page=${listcontractDetail.number + 1},keyword=${keyword})}"
           th:if="${listcontractDetail.hasNext()}">Next</a>
    </div>

</table>
</body>
</html>